In [29]:
import pandas as pd
import numpy as np

In [12]:
table = pd.read_csv("pz4.csv", encoding='utf-8')
table.columns = ["Регион", *list(range(2003, 2020, 1))]
table

,Регион,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,#####,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.00,2011.00,2012.00,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00,2019.00
1,Ханты-Мансийский автономный округ - Югра (Тюме...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2228536.39,2040628.19,2465505.60,2720895.10,2954950.80,2515767.70,2442687.00,2264695.50,2089543.19,2282701.60
2,Ямало-Ненецкий автономный округ (Тюменская обл...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,724074.40,826791.30,942051.00,905200.60,871948.10,908662.89,1005690.20,1001489.70,1116225.60,1388261.40
3,Тюменская область (кроме Ханты-Мансийского авт...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1398139.40,1646036.20,1642570.10,1689217.50,1940716.30,1861785.79,2432762.40,2537705.90
4,Республика Алтай,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123369.40,265508.00,269770.30,269770.30,425207.40,720724.60,1015143.30,624930.69,682875.70,851700.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Красноярский край,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40621.00,48953.00,67610.00,78458.99,61407.00,55116.00,45562.00,55067.00,57164.00,50360.00
116,Иркутская область,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44402.00,71010.99,70116.99,89355.99,80309.99,46704.00,55322.00,45642.00,49506.99,35442.99
117,Новосибирская область,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140764.99,141962.99,145444.99,153550.00,124112.99,97179.00,114702.99,144203.99,110276.99,91078.00
118,Омская область,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43610.00,41731.00,50451.00,55169.99,51012.00,41408.00,27310.00,35254.00,41170.99,46085.99
119,Томская область,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23344.99,27697.99,25024.00,37935.99,41458.99,30996.99,21147.99,21184.99,25874.00,20966.00

In [13]:
# Разбиение табличек

l = table.shape[0]
I = []

for num, row in enumerate(table["Регион"]):
    if row == "#####":
        I.append(num)
I.append(l + 1)

razb = []
for i in range(len(I) - 1):
    razb.append((I[i] + 1, I[i + 1] - 1))

print(razb)

[(1, 14), (16, 29), (31, 44), (46, 59), (61, 74), (76, 89), (91, 104), (106, 120)]

In [54]:
new_cols = []

for i in range(len(razb)):
    temp_cols = []
    time_table = table.loc[razb[i][0]: razb[i][1]]
    time_table = time_table.set_index(time_table["Регион"])
    time_table = time_table.drop(['Регион'], axis=1)
    for row in time_table.index:
        for col in time_table.columns:
            temp_cols.append([row, col, time_table.loc[row][col]])
    
    if i == 0:
        new_cols = np.array(temp_cols)
    else:
        new_cols = np.c_[new_cols, np.array(temp_cols)]

    # print(temp_cols, sep='\n')

print(new_cols.shape, sep='\n')

(238, 24)

In [66]:
t = pd.DataFrame(new_cols)
t.drop(columns=[3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, 19, 21, 22], inplace=True)

In [67]:
t.columns = ["Регион", "Год", "Доходы гостиниц и аналогичных средств размещения", 
               "Число гостиниц и средств размещения", 
               "Численность размещенных лиц в гостиницах и ананлогичных средствах размещения",
               "Число ночевок в гостиницах и ананлогичных средствах размещения",
               "Средняя численность работников, включая внешних совместителей",
               "Число туристских фирм", "Средства, поступившие от реализации туристкого продукта",
               "Число реализованных турпакетов населению"]
t

,Регион,Год,Доходы гостиниц и аналогичных средств размещения,Число гостиниц и средств размещения,Численность размещенных лиц в гостиницах и ананлогичных средствах размещения,Число ночевок в гостиницах и ананлогичных средствах размещения,"Средняя численность работников, включая внешних совместителей",Число туристских фирм,"Средства, поступившие от реализации туристкого продукта",Число реализованных турпакетов населению
0,Ханты-Мансийский автономный округ - Югра (Тюме...,2003,nan,nan,nan,nan,308.0,40.0,nan,nan
1,Ханты-Мансийский автономный округ - Югра (Тюме...,2004,nan,nan,nan,nan,208.0,37.0,nan,nan
2,Ханты-Мансийский автономный округ - Югра (Тюме...,2005,nan,nan,nan,nan,223.0,43.0,nan,nan
3,Ханты-Мансийский автономный округ - Югра (Тюме...,2006,nan,nan,nan,nan,277.0,48.0,nan,nan
4,Ханты-Мансийский автономный округ - Югра (Тюме...,2007,nan,nan,nan,nan,361.0,62.0,nan,nan
...,...,...,...,...,...,...,...,...,...,...
233,Томская область,2015,535920.4,67.0,70491.99,168025.99,418.0,116.0,309415.2,30996.99
234,Томская область,2016,705352.8,141.0,189645.99,343986.99,nan,116.0,371672.8,21147.99
235,Томская область,2017,721877.7,144.0,192340.0,468973.0,nan,133.0,498566.3,21184.99
236,Томская область,2018,747416.6,168.0,207340.0,453660.99,nan,146.0,673320.6,25874.0
237,Томская область,2019,845138.1,157.0,191059.99,414232.99,nan,108.0,461136.3,20966.0

In [70]:
t.to_csv("huita.csv", index=False)

In [72]:
t = pd.read_csv("huita.csv")
t

,Регион,Год,Доходы гостиниц и аналогичных средств размещения,Число гостиниц и средств размещения,Численность размещенных лиц в гостиницах и ананлогичных средствах размещения,Число ночевок в гостиницах и ананлогичных средствах размещения,"Средняя численность работников, включая внешних совместителей",Число туристских фирм,"Средства, поступившие от реализации туристкого продукта",Число реализованных турпакетов населению
0,Ханты-Мансийский автономный округ - Югра (Тюме...,2002,NaN,NaN,NaN,NaN,308.0,40.0,NaN,NaN
1,Ханты-Мансийский автономный округ - Югра (Тюме...,2004,NaN,NaN,NaN,NaN,208.0,37.0,NaN,NaN
2,Ханты-Мансийский автономный округ - Югра (Тюме...,2005,NaN,NaN,NaN,NaN,223.0,43.0,NaN,NaN
3,Ханты-Мансийский автономный округ - Югра (Тюме...,2006,NaN,NaN,NaN,NaN,277.0,48.0,NaN,NaN
4,Ханты-Мансийский автономный округ - Югра (Тюме...,2007,NaN,NaN,NaN,NaN,361.0,62.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
233,Томская область,2015,535920.4,67.0,70491.99,168025.99,418.0,116.0,309415.2,30996.99
234,Томская область,2016,705352.8,141.0,189645.99,343986.99,NaN,116.0,371672.8,21147.99
235,Томская область,2017,721877.7,144.0,192340.00,468973.00,NaN,133.0,498566.3,21184.99
236,Томская область,2018,747416.6,168.0,207340.00,453660.99,NaN,146.0,673320.6,25874.00
237,Томская область,2019,845138.1,157.0,191059.99,414232.99,NaN,108.0,461136.3,20966.00