1. Самостоятельно реализовать BoW, TF-IDF
2. Решить задачу классификации с понижением размерности. Использовать самостоятельно реализованные модели из предыдущих ЛР.
3. Решить задачу мягкой кластеризации (ТМ) с помощью LDA

In [1]:
from pathlib import Path
import os
import sys

sys.path.append(str(Path(os.getcwd()).parent))

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/spam.csv", encoding="latin-1")
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True, axis=1)
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
X = np.array(df['v2'])
y = np.array(df['v1'])
X

array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
       'Ok lar... Joking wif u oni...',
       "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
       ..., 'Pity, * was in mood for that. So...any other suggestions?',
       "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free",
       'Rofl. Its true to its name'], dtype=object)

In [66]:
from sklearn.feature_extraction.text import CountVectorizer


text = "Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
nlp(text)

(1, 30)

In [72]:
count_vectorizer.vocabulary_

{'для': 0,
 'того': 19,
 'чтобы': 27,
 'найти': 9,
 'уравнение': 22,
 'окружности': 15,
 'нужно': 12,
 'знать': 6,
 'ее': 3,
 'центр': 25,
 'радиус': 18,
 'для того': 1,
 'того чтобы': 20,
 'чтобы найти': 28,
 'найти уравнение': 10,
 'уравнение окружности': 23,
 'окружности нужно': 16,
 'нужно знать': 13,
 'знать ее': 7,
 'ее центр': 4,
 'центр радиус': 26,
 'для того чтобы': 2,
 'того чтобы найти': 21,
 'чтобы найти уравнение': 29,
 'найти уравнение окружности': 11,
 'уравнение окружности нужно': 24,
 'окружности нужно знать': 17,
 'нужно знать ее': 14,
 'знать ее центр': 8,
 'ее центр радиус': 5}

In [7]:
bow.todense()

matrix([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1]], dtype=int64)

In [40]:
import numpy as np
import spacy as sp
nlp = sp.load("en_core_web_sm")

In [63]:
import re

texts = ["Hello. My met is Ivan!", "Yesterday I met a new friend, his name is Ivan", "Our meating was very nice, I like make new friends!"]

text = re.sub(r'[^a-zA-Z0-9\s]', '', texts[0]).split()[1: 3]
print(text)


doc = nlp(' '.join(text))
doc
# [token.lemma_ for token in doc if (token.lower_ not in nlp.Defaults.stop_words) and (not token.is_punct)]

['My', 'met']

My met

In [26]:
a = [1, 2, 3, 4, 5, 6, 7]

n = 4

for i in range(0, len(a) - n + 1):
    print(a[i: i + n])

[1, 2, 3, 4]
[2, 3, 4, 5]
[3, 4, 5, 6]
[4, 5, 6, 7]

In [79]:
text = "Go until jurong point, Ivan, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."

" ".join([token.lemma_ for token in nlp(text) if (token.lower_ not in nlp.Defaults.stop_words) and (not token.is_punct)])

'jurong point Ivan crazy available bugis n great world la e buffet Cine get amore wat'

In [82]:
a = ['meating', 'nice', 'like', 'new', 'friend']

print(['nice', 'friend'] in a)

True